.new {
    background-image: url("https://2.bp.blogspot.com/-Eezukcb9Pn0/ULWpvF9REJI/AAAAAAAAAZA/N3Z7GvgQLb8/s1600/gym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
