.navee+p {
    font-size: 15px;
    color: rgb(247, 8, 8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    unicode-bidi: bidi-override;
}