body{
background-color: lightblue;
text-weight:bold;
text-align: left;
margin: 100px;
display:grid;
justify-content: center;
align-items: center;

}
tr:nth-child(odd){
background-color: #3B3131;
color: white;
}
tr:nth-child(even){
background-color: #36454F;
color: white;
}
table{
width: 550px;
border-spacing: 0;
}
button{
background-color: #61A5C2;
border-radius: 0.2rem;
font-size: 10px;
padding: 2px;
color: white;
}
td,th{
padding: 5px;
}
