body{
background-image: linear-gradient(90deg,#3E32A8,#E310C7);
text-weight:bold;
text-align: left;
display:grid;
justify-content: center;
align-items: center; 
}
caption{
background-color: #5DBB63;
}
td,th{
padding: 5px;
}
th{
background-color: #B2D3C2;
}
table{
background-color: #5DBB63;
color: white;
margin: 80px;
width: 700px;
border-spacing: 0;
}