.container{
display: grid;
grid-template-columns: repeat(2,200px);
gap: 3px;
margin:50px;
justify-content: center;
background-image: linear-gradient(180deg,red,pink,violet,blue);
}
.A{
display:grid;
align-items:center;
justify-content:center;
width:200px;
height:200px;
border-radius:100px 100px 5px 100px;
background-color: white;
}
.B{
display:grid;
align-items:center;
justify-content:center;
width:200px;
height:200px;
border-radius:100px 100px 100px 5px;
background-color: white;
}
.C{
display:grid;
align-items:center;
justify-content:center;
width:200px;
height:200px;
border-radius:100px 5px 100px 100px;
background-color: white;
}
.D{
display:grid;
align-items:center;
justify-content:center;
width:200px;
height:200px;
border-radius:5px 100px 100px 100px;
background-color: white;
}
h1{
text-align:center;
color:blue;
}
