p{
  border:1px solid ;
  color:blue;
  width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
}
div{
 border:1px dashed blue;
 color:white;
 width:100px;
 overflow:hidden;
 text-overflow:ellipsis;
}