body{
background-color: bisque;
}
.container{
   display:grid;
   grid-template-columns: repeat(4,250px);
   gap:30px;
   margin:50px;
   justify-content:space-evenly;
}

.A{
  font-size:50px;
  text-align:center;
  display:grid;
  justify-content:center;
  align-items:center;
}
h1{
text-align:center;
color:brown;
font-size:50px
}
.A:nth-child(2){
background-color:white;
}
.A:nth-child(3){
background-color:cornflowerblue;
}
.A:nth-child(4){
background-color:yellow;
}
.A:nth-child(5){
background-color:white;
}
.A:nth-child(6){
background-color:cornflowerblue;
}