a:link{
background-color:blue;
}
a:visited{
background-color:green;
}
a:hover{
background-color:black;
}
div:nth-child(odd){
background-color:orange;
}
div:nth-child(even){
background-color:yellow;
}
div:first-child{
font-size:45px;
}