table,
tr,
td {
  padding: 10px 10px 10px 5px;
  justify-content: space-between;
}
#table {
  border: 5px double #0404fa;
}
body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#btnid {
  display: grid;
  margin: auto;
  text-align: center;
}
fieldset{
    background-color: bisque;
}
