h1{
text-align:center;
color:black;
}
div{
line-height:2.8;
text-weight: bold;
text-align:center;
}
p{
test-style:serif;
color:dark purple;
text-align:justify;
}
body{
background-image: url(dayb1.jpg)
}
.a{
margin-top:200px;
width:60px;
height:40px;
background-color:yellow;
}
.b{
margin-left:50px;
}

