*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.card1, .card2, .card3, .card4{
    width: 30dvh;
    height: 30dvh;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 2px 2px 5px 3px rgb(73, 69, 69);
}
.card1{
    background-color: rgb(197, 153, 72);
}
.card2{
    background-color: blueviolet;
}
.card3{
    background-color: brown;
}
.card4{
    background-color:rgb(4, 83, 29);
}
.coursecount{
    font-size: 50px;
}
.dashboard{
    display: flex;
    margin-left: 15.7rem;
    gap: 6rem;
}
#dashboard1{
    background-image: url('/assets/images/skilljet-logo-2.png' );
    width: 100dvw;
     background-repeat: no-repeat;
     background-position:center;
     height: 100dvh;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    transform: scale(1.01);
    transition: ease-in-out 2ms;
}
#usercount, #coursecount, #enrollcount, #completecount{
    font-size: 3rem;
}
