*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
#display{
    margin-left: 25rem;
    margin-top: 5rem;    
}
#video1{
    background-image: url('/assets/images/skilljet-logo-2.png' );
    width: 100dvw;
     background-repeat: no-repeat;
     background-position:center;
     height: 100dvh;
}
#completebtn{
    text-align: right;
}
#combtn{
    padding: 10px;
    background-color: skyblue;
    font-weight: bolder;
    outline: none;
    border-color: skyblue;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 40px;
    width: 15rem;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 1rem;
}
#combtn:hover{
    border-color: brown;
    color: white;
    text-shadow: 1px 1px 1px 1px lightblue;
}