.para1{
margin: none;
padding: none;
background-color: yellow;
height: 75px;
width: 350px;
}
.para2{
background-color: skyblue;
width: 350px;
height: 75px;
padding: 40px 20px;
}
.para3{
background-color: darkviolet;
width: 350px;
height: 100px;
padding-top: 40px;
margin-top: -16px;
}
.para4{
background-color: pink;
width: 390px;
height: 95px;
padding-left: 35px;
padding-bottom: 20px;
}
.para5{
background-color: green;
width: 400px;
height: 100x;
padding-right: 40px;
}