body{
margin-left: 50px;
margin-right: 50px;
}
img{
width: 150px;
height: 150px;
}
table, th,td{
border:3px solid;
text-align: center;
}
.ul{
list-style-type:none;
margin: 0px;
padding: 0px
}
table{
width: 1415px;
}