a:link{
  background-color:gold;
}
a:visited{
  background-color:rgb(101, 8, 252);
}
a:hover{
  background-color:black;
}
div:nth-child(odd){
  background-color: violet;
}
div:nth-child(even){
  background-color: orange;
}
div:first-child{
background-color: blue;
}